* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 200px;
  background-color: grey;
  text-align: center;
  line-height: 8;
  font-size: x-lar ge;
  color: white;
  margin-bottom: 10px;
}
.navbar ul {
  list-style-type: none;
  background-color: rgb(86, 79, 79);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-size: medium;
  display: block;
  padding: 15px;
  text-align: center;
}
.nav a:hover {
  background-color: rgb(39, 40, 40);
}
.navbar li {
  float: left;
}
section {
  display: flex;
  width: 100%;
  height: 400px;
  padding: 20px;
  justify-content: space-between;
  background-color: lightgrey;
  color: white;
  margin-bottom: 10px;
}
.box {
  width: calc(33% - 20px);
  background-color: beige;
  padding: 20px;
}
/* .upper_left,
.lower_right {
  width: calc(30%- 20px);
  background-color: grey;
  padding: 20px;
}
.upper_right,
.lower_left {
  width: calc(70% - 20px);
  background-color: grey;
  padding: 20px;
} */
/* .middle {
  width: calc(50%);
  height: 100%;
  background-color: grey;
} */
/* .left,
.right {
  width: calc(50% - 20px);
  background-color: grey;
  padding: 20px;
}
.upper_right,
.lower_right {
  height: calc(50% - 20px);
  background-color: bisque;
  padding: 20px;
  margin-bottom: 10px;
} */

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  text-align: center;
  line-height: 4;
  font-size: x-large;
  color: white;
}
